<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
        <style>
         body {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            }
        form {
            width: 430px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
               
            }
        </style>
    </head>
   <body>
    
        <form action='hope'  method='post' enctype='multipart/form-data'>
            <h2>Enter Details for Pie Chart</h2><br>
            {% csrf_token %}
            <div class="mb-3">
                <label for="fileInput" class="form-label"> Select File: </label>
                <input type="file" id="fileInput" accept=".csv, .xlsx, .xls" class="form-control" name='file'>
            </div>
            <center>
                <div>
                  <label for="pie" class="form-label"> Enter Pie : </label>
                  <input type='text' name='pie_var'><br><br>
                </div>  
               </center>
            <center><input type='submit' value='Process' class="btn btn-primary"></center>
        </form>
   </body>
</html>